[Docs Bug] `X-Content-Type-Options` for 304 responses

# 📚 Request documentation enhancements

## Description

<!-- ✍️ Describe your idea for improving the webhint docs. -->

webhint suggests `X-Content-Type-Options` even for 304 responses whose initial 200 has cached `X-Content-Type-Options`.

## Details

<!-- ✍️ Please include any information that may help us, such as a URL to the affected docs page, paragraphs that need revision, etc. -->

Link: [Use `X-Content-Type-Options` Header | webhint documentation](https://webhint.io/docs/user-guide/hints/hint-x-content-type-options/)

As per [RFC9110 section 15.4.5](https://httpwg.org/specs/rfc9110.html#rfc.section.15.4.5), a 304 response should only include metadata that guides cache updates, headers including `X-Content-Type-Options` should not be included until we update its value.

If I've read the relevant source code correctly, part of https://github.com/httpwg/http-core/issues/165 is still relevant that Chrome and Webkit ignore `x-content-` headers in 304 responses. `nosniff` should be set by the initial 200. Adding the `X-Content-Type-Options` header to 304 responses feels like a complete waste.
